.marika{
    font-size:22px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;

}

.marika:hover{
    color: #3366FF;
}

.lilika{
    font-size:18px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;
}

.newsStand{
    width: 500px;
    height: 150px;
}

.openLink{
    text-align:right;position: absolute;bottom: 0; right: 0;
}