@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

#app {
	font-family: 'Inter', sans-serif;    
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #808287;
    text-align: left;
    background-color: #fff;
}

.font0{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-family: 'Inter', sans-serif; 
	color: #808287;
	font-weight: 400;
    font-size: 14px;
}

.font1{
	font-family: 'Inter', sans-serif; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #808287;
	line-height: 0.9;
	font-weight: 600;
    font-size: 96px;
}

.font2{
	font-family: 'Inter', sans-serif; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #808287;
	line-height: 0.9;
	font-weight: 600;
    font-size: 60px;
}


.font3{
	font-family: 'Inter', sans-serif; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #808287;
	line-height: 0.9;
	font-weight: 800;
    font-size: 48px;
}

.font4{
	font-family: 'Inter', sans-serif; 
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
}

.yellow{
	color: #FC5D2D;
}

.blue{
	color: #0066FF;
}

.navGrey{
	color: #808287;
}

.navGreyLight{
	color: #BDC4D6;
}


.openLink{
	font-size:28px;
	color:  #42b983;
	padding-left: 15px;
	padding-right: 15px;
    text-align:right;position: absolute;bottom: 0; right: 0;
}

.backgroundColor{
    color: #fff;
}

.mainPanel{
    background-color: #fff;
}

.gNumber {
  color: #42b983;
  font-weight: bold;
}

.lilika{
    font-size:18px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;
}

.newsPag{
	font-size:18px;
	color:  black;
	padding-left: 15px;
	padding-right: 15px;
}

.marika{
    font-size:28px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;

}
.marika:hover{
    color: #3366FF;
}

.marika3{
    font-size: 22px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;

}
.marika3:hover{
    color: #3366FF;
}

.marika2{
    font-size:28px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;
}

.marika2:hover{
    color: #3366FF;
}

@media(prefers-color-scheme: dark) {

	.openLink{
		font-size:28px;
		color:  #cc0000;
		padding-left: 15px;
		padding-right: 15px;
		text-align:right;position: absolute;bottom: 0; right: 0;
	}

	.marika3{
		font-size:22px;
		color: #cc0000;
		padding-left: 15px;
		padding-right: 15px;
	}

	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		background-color: #282a2f;
	}
	
	.modeText{
		color: #ffffff;
	}
	
	.mainPanel{
		background-color: #141d26;
		color: #ffffff;
	}
	
	.totalChar{
		background-color: #141d26;
		color: #ffffff;
	}
	

	.marika3:hover{
		color: #3366FF;
	}
	
	.gNumber {
	  color:  #cc0000;
	  font-weight: bold;
	}
	
	.lilika{
		font-size:18px;
		color:  #cc0000;
		padding-left: 15px;
		padding-right: 15px;
	}

	.newsPag{
		font-size:18px;
		color:  white;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.marika{
		font-size:28px;
		color: #cc0000;
		padding-left: 15px;
		padding-right: 15px;
	
	}
	.marika:hover{
		color: #3366FF;
	}
	
	.marika2:hover{
		color: #3366FF;
	}   

}
