#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #fff;
}
.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box>* {
    flex: 1 1 ;
}

.newsStand{
    width: 500px;
}
.backgroundColor{
    color: #fff;

}

.totalStand{
	width: 500px;
	height: 350px;
}

.mainPanel{
    background-color: #fff;
}

.gNumber {
  color: #42b983;
  font-weight: bold;
}

.lilika{
    font-size:18px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;
}

.marika{
    font-size:28px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;

}
.marika:hover{
    color: #3366FF;
}

.marika3{
    font-size: 44px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;

}
.marika3:hover{
    color: #3366FF;
}

.openLink{
    text-align:right;position: absolute;bottom: 0; right: 0;
}

.newsStandBig{
    width: 670px;
    height: 400px;
}

.m-md-2 .dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
}

.dd + .dd{
   margin-bottom:50px;
}

#dropdown-1 + #dropdown-1{
    margin-left:20px;
}
.marika2{
    font-size:22px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;
}

.marika2:hover{
    color: #3366FF;
}   

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 800px) {

    .newsStand{
        width: 350px;
        height: 290px;
    }

    .newsStandBig{
        width: 350px;
        height: 290px;  
    }

    .openLink{
        text-align:right;position: absolute;bottom: 0; right: 0;
    }
  
    .marika2{
        font-size:22px;
        color: #42b983;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .marika2:hover{
        color: #3366FF;
    }
}
@media(prefers-color-scheme: dark) {

	.totalStand{
		width: 500px;
		height: 350px;
	}
	.box {
		background-color: #000000;
	
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		background-color: #000000;
	}
	.body{
		background-color: #000000;
		color: white;
	
	}
	
	.modeText{
		color: #ffffff;
	}
	
	.backgroundColor{
		color: #000000;
	
	}
	
	.statiscalNumberTable{
		color: #ffffff;
	}
	
	table, th, td {
		color: #ffffff;
	}   
	
	.mainPanel{
		background-color: #141d26;
		color: #ffffff;
	}
	
	.totalChar{
		background-color: #141d26;
		color: #ffffff;
	}
	
	.marika3{
		font-size: 44px;
		color: #cc0000;
		padding-left: 15px;
		padding-right: 15px;
	
	}
	.marika3:hover{
		color: #3366FF;
	}
	
	.box>* {
		flex: 1 1 ;
	}
	
	.newsStand{
		width: 500px;
	}
	
	.newsStandSmall{
		width: 500px;
	}
	
	.gNumber {
	  color:  #cc0000;
	  font-weight: bold;
	}
	
	.lilika{
		font-size:18px;
		color:  #cc0000;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.marika{
		font-size:28px;
		color: #cc0000;
		padding-left: 15px;
		padding-right: 15px;
	
	}
	.marika:hover{
		color: #3366FF;
	}
	
	.openLink{
		text-align:right;position: absolute;bottom: 0; right: 0;
	}
	
	.newsStandBig{
		background-color: #000000;
		width: 670px;
		height: 400px;
	}
	
	.m-md-2 .dropdown-menu {
		max-height: 400px;
		overflow-y: scroll;
	}
	
	.dd + .dd{
	   margin-bottom:50px;
	}
	
	#dropdown-1 + #dropdown-1{
		margin-left:20px;
	}
	
	.marika2{
		font-size:22px;
		color:  #cc0000;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.marika2:hover{
		color: #3366FF;
	}   
	
	@media only screen 
	and (min-device-width : 375px) 
	and (max-device-width : 800px) {
	
		.newsStand{
			width: 350px;
			height: 290px;
		}
	
		.newsStandBig{
			width: 350px;
			height: 290px;  
		}
	
		.openLink{
			text-align:right;position: absolute;bottom: 0; right: 0;
		}
	  
		.marika2{
			font-size:22px;
			color: #cc0000;
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.marika2:hover{
			color: #3366FF;
		}
	}
}
