table {
    max-width: 550px;
    max-height: 260px;
    overflow-y: scroll;
    display: inline-block;
}

td:nth-child(1) { 
    color:#0066FF; 
}

td { 
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #808287;
}

th{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #808287;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box>* {
    flex: 1 1 ;
}

.WorldStand{
    height: 60%;
}

.HotSpotStand{
    width: 40%;

}

/* ------------ */

.newsStand{
    width: 500px;
}

.newsStandBig2{
    width: 670px;
    height: 400px;
}

.newsStandBig{
    width: 670px;
    height: 400px;
}

.row {
    display: flex; /* equal height of the children */
}

.fiftyPer + .fiftyPer{
    flex: 1; /* additionally, equal width */
    margin-left:50px;
 }

.das + .das{
    margin-bottom:150px;
 }


 #dropdown-1 + #dropdown-1{
    margin-left:20px;
}

.m-md-2 .dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
}


.inner {
    width: 50%;
    margin: 0 auto;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 800px) {

    .newsStandBig{
        width: 350px;
        height: 290px;  
	}
    .newsStand{
        width: 350px;
        height: 290px;
    }
    .newsStandBig2{
		width: 380px;
		height: 390px;
	}

}