table {
    max-height: 260px;
    overflow-y: scroll;
    display: inline-block;
}

td:nth-child(1) { 
    color:#0066FF; 
}

td { 
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #808287;
}

th{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #808287;
}





@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 800px) {



}