@import url('https://rsms.me/inter/inter.css');


#app {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #fff;
}

.openLink{
	font-size:28px;
	color:  #42b983;
	padding-left: 15px;
	padding-right: 15px;
    text-align:right;position: absolute;bottom: 0; right: 0;
}

.backgroundColor{
    color: #fff;
}

.mainPanel{
    background-color: #fff;
}

.gNumber {
  color: #42b983;
  font-weight: bold;
}

.lilika{
    font-size:18px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;
}

.newsPag{
	font-size:18px;
	color:  black;
	padding-left: 15px;
	padding-right: 15px;
}

.marika{
    font-size:28px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;

}
.marika:hover{
    color: #3366FF;
}

.marika3{
    font-size: 44px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;

}
.marika3:hover{
    color: #3366FF;
}

.marika2{
    font-size:28px;
    color: #42b983;
    padding-left: 15px;
    padding-right: 15px;
}

.marika2:hover{
    color: #3366FF;
}   

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 800px) {

	.newsStandSmall{
		width: 350px;
        height: 220px;
	}
  
    .marika2{
        font-size:28px;
        color: #42b983;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .marika2:hover{
        color: #3366FF;
    }
}
@media(prefers-color-scheme: dark) {

	.openLink{
		font-size:28px;
		color:  #cc0000;
		padding-left: 15px;
		padding-right: 15px;
		text-align:right;position: absolute;bottom: 0; right: 0;
	}

	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		background-color: #000000;
	}
	.body{
		background-color: #000000;
		color: white;
	
	}
	
	.modeText{
		color: #ffffff;
	}
	
	.backgroundColor{
		color: #000000;
	
	}
	
	.statiscalNumberTable{
		color: #ffffff;
	}
	
	table, th, td {
		color: #ffffff;
	}   
	
	.mainPanel{
		background-color: #141d26;
		color: #ffffff;
	}
	
	.totalChar{
		background-color: #141d26;
		color: #ffffff;
	}
	
	.marika3{
		font-size: 44px;
		color: #cc0000;
		padding-left: 15px;
		padding-right: 15px;
	
	}
	.marika3:hover{
		color: #3366FF;
	}
	
	.newsStandSmall{
		width: 500px;
	}
	
	.gNumber {
	  color:  #cc0000;
	  font-weight: bold;
	}
	
	.lilika{
		font-size:18px;
		color:  #cc0000;
		padding-left: 15px;
		padding-right: 15px;
	}

	.newsPag{
		font-size:18px;
		color:  white;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.marika{
		font-size:28px;
		color: #cc0000;
		padding-left: 15px;
		padding-right: 15px;
	
	}
	.marika:hover{
		color: #3366FF;
	}
	
	.marika2:hover{
		color: #3366FF;
	}   
	
	@media only screen 
	and (min-device-width : 375px) 
	and (max-device-width : 800px) {
		.newsStandSmall{
			width: 350px;
			height: 220px;
		}
 	  
		.marika2{
			font-size:28px;
			color: #cc0000;
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.marika2:hover{
			color: #3366FF;
		}
	}
}
